fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20

pandas==2.3.2
numpy==2.3.2
openpyxl==3.1.5
tqdm==4.68.3
colorama==0.4.6
python-dateutil==2.9.0.post0
pytz==2026.2
tzdata==2026.2
six==1.17.0
et_xmlfile==2.0.0